@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  height: 100% !important;
  width: 100vw;
}

html, body, :root {
  --diwan-500: #163390;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  font-style: normal;
  height: 100vh;
  width: 100vw;
  height: 100%;
}

hr {
  border: var(--diwan-500);
  border-top: 1px solid var(--diwan-500);
  color: var(--diwan-500);
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr::after {
  background: #fff;
  content: 'ou';
  padding: 0 4px;
  position: relative;
  top: -13px;
}